<h1 id="title">Huringa</h1>
<h3 id="tagline">La radio connectée intelligente, toujours sur votre longueur d'onde.</h3>
<p class="description">Site en construction</p>
<p class="description">Pour nous contacter: <a href="mailto:huringa.team@gmail.com">envoyer un email</a></p>
